@import url(//assets.codepie.link/css/SpoqaHanSansNeo.css);

html,
body {
  color: #f6f6f6;
  background: #262424;
}

* {
  font-family: 'Spoqa Han Sans Neo', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}
